<section class="masthead">
	<div class="container">
		<div class="columns">
			<div class="column is-desktop is-three-fifths">
				<h1 class="title">Send order confirmations to your customers via any messaging app</h1>
				<h3 class="subtitle">Communicate all ecommerce messages through messaging services and open a new marketing channel to your customers</h3>
				<!-- <button class="button is-primary is-large">Start Now</button> -->
			</div>
			<div class="column">
				<div class="messenger-bubbles">
					<div class="messenger-bubble messenger-bubble--medium">
						<img src="/images/whatsapp-icon.svg">
					</div>
					<div class="messenger-bubble messenger-bubble--small">
						<img src="/images/imessage-icon.svg">
					</div>
					<div class="messenger-bubble messenger-bubble--large">
						<img src="/images/facebook-messenger-icon.svg">
					</div>
					<div class="messenger-bubble messenger-bubble--medium">
						<img src="/images/telegram-icon.svg">
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
<section class="teaser-section">
	<div class="container">
		<img class="teaser-section__image--right" src="/images/messenger-order-notification@2x.jpg">
		<img class="teaser-section__image--left" src="/images/checkout-messenger-notification@2x.jpg">
	</div>	
</section>
<section class="content-section">
	<div class="container">
		<div class="columns">
			<div class="column is-half">
				<h1 class="title">A more personal way of communicating with your customers</h1>
				<p class="subtitle">Start by sending order notifications through messaging services to your clients to establish a more personal communication and open a new marketing channel. </p>
			</div>
			<div class="column is-half">
				<div class="iphone-examples">
					<img class="iphone-example-screen" src="/images/messenger-order-notification@2x.jpg">
					<img class="iphone-example-screen" src="/images/shipping-notification-whatsapp@2x.jpg">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="container">
		<div class="columns">
			<div class="column is-half">
				<div class="dashboard-examples">
					<img class="dashboard-example" src="/images/dashboard-example@2x.jpg">
					<img class="dashboard-example-zoomed" src="/images/dashboard-example-zoomed@2x.jpg">
				</div>
			</div>
			<div class="column is-half">
				<h1 class="title">A more personal way of communicating with your customers</h1>
				<p class="subtitle">Start by sending order notifications through messaging services to your clients to establish a more personal communication and open a new marketing channel. </p>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="container">
		<div class="columns">
			<div class="column is-half">
				<h1 class="title">A more personal way of communicating with your customers</h1>
				<p class="subtitle">Start by sending order notifications through messaging services to your clients to establish a more personal communication and open a new marketing channel. </p>
			</div>
			<div class="supported-shops column is-centered">
			    <div class="has-text-centered">
			    	<img src="/images/shopify-logo.svg">
			    </div>
			    <div class="columns is-tablet">
			      <div class="column">
			        <div class="has-text-centered">
			        	<img src="/images/woocommerce-logo.svg">
			        </div>
			      </div>
			      <div class="column">
			        <div class="has-text-centered">
			        	<img src="/images/prestashop-logo.svg">
			        </div>
			      </div>
			    </div>
			    <div class="has-text-centered">
			    	<img src="/images/magento-logo.svg">
			    </div>
			</div>
		</div>
	</div>
</section>

<section class="content-section">
	<div class="container has-text-centered">
		<h1 class="title">Our Pricing</h1>
		<p class="subtitle">Simple and easy</p>
	</div>
	<div class="container">
		<div class="pricing columns">
			<div class="column is-third">
				<div class="pricing-plan">
				    <div class="plan-header">Starter</div>
				    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
				    <div class="plan-items">
				      <div class="plan-item">20GB Storage</div>
				      <div class="plan-item">100 Domains</div>
				      <div class="plan-item">-</div>
				      <div class="plan-item">-</div>
				    </div>
				    <div class="plan-footer">
				      <a class="plan-button button is-fullwidth" href="#">Current plan</a>
				    </div>
				  </div>
			</div>
			<div class="column is-third">
				<div class="pricing-plan">
				    <div class="plan-header">Starter</div>
				    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
				    <div class="plan-items">
				      <div class="plan-item">20GB Storage</div>
				      <div class="plan-item">100 Domains</div>
				      <div class="plan-item">-</div>
				      <div class="plan-item">-</div>
				    </div>
				    <div class="plan-footer">
				      <a class="plan-button button is-fullwidth" href="#">Current plan</a>
				    </div>
				  </div>
			</div>
			<div class="column is-third">
				<div class="pricing-plan">
				    <div class="plan-header">Starter</div>
				    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
				    <div class="plan-items">
				      <div class="plan-item">20GB Storage</div>
				      <div class="plan-item">100 Domains</div>
				      <div class="plan-item">-</div>
				      <div class="plan-item">-</div>
				    </div>
				    <div class="plan-footer">
				      <a class="plan-button button is-fullwidth" href="#">Current plan</a>
				    </div>
				  </div>
			</div>
		</div>
	</div>
</section>

<br>
<br><br>
<br>
<br>
