<section class="masthead">
	<div class="container">
		<div class="columns">
			<div class="column is-three-fifths">
				<h1 class="title">Send order confirmations to your customers via any messaging app</h1>
				<h3 class="subtitle">Communicate all ecommerce messages through messaging services and open a new marketing channel to your customers</h3>
				<button class="button is-primary is-large">Start Now</button>
			</div>
			<div class="column">
				<div class="messenger-bubbles">
					<div class="messenger-bubble messenger-bubble--medium">
						<img src="/images/whatsapp-icon.svg">
					</div>
					<div class="messenger-bubble messenger-bubble--small">
						<img src="/images/imessage-icon.svg">
					</div>
					<div class="messenger-bubble messenger-bubble--large">
						<img src="/images/facebook-messenger-icon.svg">
					</div>
					<div class="messenger-bubble messenger-bubble--medium">
						<img src="/images/telegram-icon.svg">
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>
<section class="teaser-section">
	<div class="container">
		<img class="teaser-section__image--left" src="/images/checkout-messenger-notification@2x.jpg">
		<img class="teaser-section__image--right" src="/images/messenger-order-notification@2x.jpg">
	</div>	
</section>
