<section class="masthead">
    <div class="container">
        <div class="columns">
            <div class="column is-desktop is-three-fifths">
                <h1 class="masthead__title title">
                    Send order confirmations to your customers via any messaging app
                </h1>
                <h3 class="masthead__subtitle subtitle">
                    Communicate all ecommerce messages through messaging services and open a new marketing channel to your customers
                </h3>
                <button class="masthead__button button is-primary is-medium" data-micromodal-trigger="modal-1">TRY IT NOW</button>
            </div>
            <div class="column">
                <div class="messenger-bubbles">
                    <img src="/images/chat-icons@2x.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="teaser-section">
    <div class="container">
    	<div class="columns">
		    <div class="column is-three-quarters">
		    	<img class="teaser-section__image--left" src="/images/checkout-messenger-notification@2x.jpg">
			</div>
			<div class="column has-text-centered">
		    	<img class="teaser-section__image--right" src="/images/messenger-order-notification@2x.jpg">
		    </div>
        </div>
    </div>
</section>
