<section class="content-section" id="section--2">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="dashboard-examples">
                    <img class="dashboard-example" src="/images/dashboard-example@2x.jpg">
                        <img class="dashboard-example-zoomed" src="/images/dashboard-example-zoomed@2x.jpg">
                        
                    
                </div>
            </div>
            <div class="column is-half">
                <h1 class="title">
                    Provide instant support and market effectifely to existing customers
                </h1>
                <p class="subtitle">
                    Use your newly established communication channel to directly provide customer support or offer new products.
                </p>
            </div>
        </div>
    </div>
</section>