<section class="content-section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="dashboard-examples">
                    <img class="dashboard-example" src="/images/dashboard-example@2x.jpg">
                        <img class="dashboard-example-zoomed" src="/images/dashboard-example-zoomed@2x.jpg">
                        
                    
                </div>
            </div>
            <div class="column is-half">
                <h1 class="title">
                    A more personal way of communicating with your customers
                </h1>
                <p class="subtitle">
                    Start by sending order notifications through messaging services to your clients to establish a more personal communication and open a new marketing channel.
                </p>
            </div>
        </div>
    </div>
</section>