<section class="content-section" id="section--pricing">
    <div class="container has-text-centered">
        <h1 class="title">
            Our Pricing
        </h1>
        <p class="subtitle">
            It's simple: If your customers don't use it, you don't pay!
        </p>
    </div>
    <div class="container">
        <div class="pricing columns">
            <div class="column is-third">
                <div class="pricing-plan">
                    <div class="plan-header">
                        FREE
                    </div>
                    <div class="plan-price">
                        <span class="plan-price-amount">
                            <span class="plan-price-currency">
                            $
                            </span>
                            0
                        </span>
                        /month
                    </div>
                    <div class="plan-items">
                        <div class="plan-item">
                            200 Messages/month
                        </div>
                        <div class="plan-item">
                            $0.08 per extra message
                        </div>
                        <div class="plan-item">
                            WooCommerce, Shopify, Magento, PrestaShop Integration
                        </div>
                        <div class="plan-item">
                            WhatsApp, Telegram, Facebook Messenger Support
                        </div>
                        <hr>
                        <div class="plan-item">
                            Server Location US
                        </div>
                        <div class="plan-item">
                            Email Support
                        </div>
                        <hr>
                        <div class="plan-item">
                            Order Notifications via Messaging App
                        </div>
                    </div>
                    <div class="plan-footer">
                        <a class="plan-button button is-fullwidth" href="#">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-third">
                <div class="pricing-plan">
                    <div class="plan-header">
                        Starter
                    </div>
                    <div class="plan-price">
                        <span class="plan-price-amount">
                            <span class="plan-price-currency">
                                $
                            </span>
                            45
                        </span>
                        /month
                    </div>
                    <div class="plan-items">
                        <div class="plan-item">
                            1000 Messages/month
                        </div>
                        <div class="plan-item">
                            $0.03 per extra message
                        </div>
                        <div class="plan-item">
                            WooCommerce, Shopify, Magento, PrestaShop Integration
                        </div>
                        <div class="plan-item">
                            WhatsApp, Telegram, Facebook Messenger Support
                        </div>
                        <hr>
                        <div class="plan-item">
                            Server Location US
                        </div>
                        <div class="plan-item">
                            Email + Chat Support
                        </div>
                        <hr>
                        <div class="plan-item">
                            Order Notifications via Messaging App
                        </div>
                        <div class="plan-item">
                            Provide Support via Messaging Dashboard
                        </div>
                    </div>
                    <div class="plan-footer">
                        <a class="plan-button button is-fullwidth" href="#">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-third">
                <div class="pricing-plan">
                    <div class="plan-header">
                        Starter
                    </div>
                    <div class="plan-price">
                        <span class="plan-price-amount">
                            <span class="plan-price-currency">
                                $
                            </span>
                            245
                        </span>
                        /month
                    </div>
                    <div class="plan-items">
                        <div class="plan-item">
                            10000 Messages/month
                        </div>
                        <div class="plan-item">
                            $0.02 per extra message
                        </div>
                        <div class="plan-item">
                            WooCommerce, Shopify, Magento, PrestaShop Integration
                        </div>
                        <div class="plan-item">
                            WhatsApp, Telegram, Facebook Messenger Support
                        </div>
                        <hr>
                        <div class="plan-item">
                            Server Location US or Germany
                        </div>
                        <div class="plan-item">
                            Email, Chat, Phone Support
                        </div>
                        <hr>
                        <div class="plan-item">
                            Order Notifications via Messaging App
                        </div>
                        <div class="plan-item">
                            Provide Support via Messaging Dashboard
                        </div>
                        <div class="plan-item">
                            Send Promotions via Messaging dashboard
                        </div>
                        <div class="plan-item">
                            Read Receipts
                        </div>
                    </div>
                    <div class="plan-footer">
                        <a class="plan-button button is-fullwidth" href="#">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>