<section id="section--instructions">
    <div class="container has-text-centered">
        <h1 class="title">
            How it works
        </h1>
        <p class="subtitle">
            Simple and easy
        </p>
    </div>
    <div class="container">
        <div class="instructions columns is-multiline">
            <div class="column is-half">
                <span class="steps">
                    <span class="steps__number">
                        1
                    </span>
                    <span class="steps__headline">
                        Install the our plugin for WooCommerce, Shopify, Magento, PrestaShop
                    </span>
                </span>
                <div class="instructions__content">
                    <img src="/images/shop-logos@2x.png">
                </div>
                
            </div>
            <div class="column is-half">
                <span class="steps">
                    <span class="steps__number">
                        2
                    </span>
                    <span class="steps__headline">
                        Your customer connect their messaging service during checkout
                    </span>
                </span>
                <div class="instructions__content screenshot-circular">
                    <div class="zoomed-in">
                        <img src="/images/order-status-whatsapp@2x.jpg">
                        
                    </div>
                    <img src="/images/order-status-whatsapp@2x.jpg">
                    
                </div>
            </div>
            <div class="column is-half">
                <span class="steps">
                    <span class="steps__number">
                        3
                    </span>
                    <span class="steps__headline">
                        Order notifications are automatically send via the messaging service
                    </span>
                </span>
                <div class="instructions__content screenshot-mobile">
                    <img src="/images/messenger-order-notification@2x.jpg">
                    
                </div>
            </div>
            <div class="column is-half">
                <span class="steps">
                    <span class="steps__number">
                        4
                    </span>
                    <span class="steps__headline">
                        Use your new channel to provide support and marketing
                    </span>
                </span>
                <div class="instructions__content screenshot-rectangular">
                    <img src="/images/dashboard-example@2x.jpg">
                    
                </div>
                
            </div>
        </div>
    </div>
</section>