<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <h4 class="title is-5">
                        Join our beta program!
                    </h4>
                    <h2 class="subtitle">
                        Be one of our first users and help shaping a new way of customer communication.
                    </h2>
                </div>
                <div class="column cta--right">
                    <a class="button is-large is-white cta-button" href="/#sign-up">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>