<section class="content-section" id="section--logos">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title">
                    Support for all major ecommerce platforms
                </h1>
                <p class="subtitle">
                    We’ve built plugins for all major ecommerce platforms, which make it dead simple to install and connect your shop to our system. Start sending your order notifications to your clients via messenger in 10 minutes.
                </p>
            </div>
            <div class="supported-shops column is-centered">
                <div class="has-text-centered">
                    <img src="/images/shopify-logo.svg">
                </div>
                <div class="columns is-tablet">
                    <div class="column">
                        <div class="has-text-centered">
                            <img src="/images/woocommerce-logo.svg">
                        </div>
                    </div>
                    <div class="column">
                        <div class="has-text-centered">
                            <img src="/images/prestashop-logo.svg">
                        </div>
                    </div>
                </div>
                <div class="has-text-centered">
                    <img src="/images/magento-logo.svg">
                </div>
            </div>
        </div>
    </div>
</section>