<footer class="footer is-primary is-small" role="contentinfo">
  <div class="container">
  	<div class="columns">
  		<div class="column is-one-quarter">
  			<img src="/images/reachpeach-white.svg">
  			<div class="slogan">
  				{{ .Site.Params.slogan }}
  			</div>
  			<div class="social-icons">
  				{{ partial "social-follow.html" . }}
  			</div>
  			<a class="copyright" href="{{ .Site.BaseURL }}" >
			    &copy; {{ now.Format "2006" }} {{ .Site.Params.company }}
			  </a>
  		</div>
  		<div class="column  is-half is-offset-one-quarter">
  			{{ partial "site-navigation-footer.html" . }}	
  		</div>
  	</div>
  </div>
</footer>

 <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Beta Sign Up!
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
          


<form class="modal__form--beta" data-hubspot-form-id="790744f8-10e8-4f7c-8455-a89adf1e37d5">

          <div class="field">
  <label class="label">First Name</label>
  <div class="control">
    <input class="input" type="text" name="firstname" placeholder="Peter">
  </div>
</div>
         <div class="field">
  <label class="label">Last Name</label>
  <div class="control">
    <input class="input" type="text" name="lastname" placeholder="Johnson">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input is-danger" type="email" name="email" placeholder="peter@company.com">
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>


<article class="message is-danger">
  <div class="message-body is-hidden">
  </div>
</article>

<div class="field is-grouped">
  <div class="control">
    <input type="submit" class="button is-link" value="Submit">
  </div>
  <div class="control">
    <button class="button cancel-button is-text">Cancel</button>
  </div>
</div>
</form>
        </main>
      </div>
    </div>
  </div>