@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$family-sans-serif: "Poppins", sans-serif;

$primary: #ff6669;
$secondary: #223d65;
$info: #ff6669;

$button-padding-horizontal: 2rem; 
$button-border-color: $secondary;
// $button-padding-vertical: calc(1rem - 1px);
$size-medium: 1rem;

$navbar-item-img-max-height: 3.25rem;
$navbar-height: 7.25rem;
$navbar-item-hover-background-color: transparent;

$footer-background-color: $secondary;

$title-weight: 500;
$title-size: 2.125rem;
$title-line-height: 1.5;
$title-color: $secondary;

$subtitle-color: rgba($secondary, 0.5);
$subtitle-size: 1.125rem;
$subtitle-line-height: 1.5;
$subtitle-weight: 500;
$subtitle-negative-margin: 2rem;

$control-radius: 0.25rem;

@import "../node_modules/bulma/sass/utilities/_all.sass";

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/grid/all";

.button {
	font-weight: 500;
}

.button.is-primary {
	box-shadow: 0 0 24px 0 rgba(0,0,0,0.20);
}

.navbar-menu {
	.navbar-end {
		align-items: center;
	}
	.navbar-item {
		font-weight: 500;
		font-size: 0.875rem;
		padding: 0.75rem 2.5rem;

		@include until($desktop) {
			padding: 1rem 2.5rem;
			border-bottom: 1px solid rgba($primary, 0.2);
		}

		&:last-child {
			border: 1px solid $primary;
			border-radius: 5px;
		}
	}
}

.container {
	padding: 0 0.75rem;

	@include until($tablet) {
		text-align: center;
	}
}

.navbar-brand {
	margin-left: 0;
}

.masthead {
	margin-top: 30px;

	@include until($tablet) {
		margin-top: 0;
	}

	.container {
		padding-top: 30px !important;
	}
}

.masthead__button {
	margin-top: 2rem;
	line-height: 3rem;
    padding: 0rem 2rem;
    height: auto;
}

.hero {
	.container {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

.teaser-section {
	position: relative;
	padding-bottom: 100px;
	padding-top: 100px;
	z-index: 1;

	&::before {
		content: '';
	    background: $primary;
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    transform: skewY(-5deg);
	    z-index: 0;
	}

	.container {
		padding: 0 !important;
	}
}

.teaser-section__image--left {
	width: 110%;
	max-width: none;
	margin-top: 4%;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
	border-radius: 12px;

	@include until($tablet) {
		width: 90%;
		height: 330px;
		object-fit: cover;
		object-position: left;
	}
}

.teaser-section__image--right {
	box-shadow: 0 0 24px 0 rgba(0,0,0,0.30), inset 0 -4px 8px 0 rgba(0, 0, 0, 0.08);
	border-radius: 44.1px;
	transform: translateY(-30px);

	@include until($tablet) {
		width: 210px;
		position: absolute;
		top: 0;
		right: 4vw;
		border-radius: 35px;
	}
}

.iphone-examples {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	height: 410px;

	@include until($tablet) {
		justify-content: center;
		transform: translateX(-50px);
		height: 470px;
	}
}

.iphone-example-screen {
	box-shadow: 0 0 24px 0 rgba(0,0,0,0.30), inset 0 -4px 8px 0 rgba(0, 0, 0, 0.08);
	border-radius: 44.1px;
	width: 300px;

	@include until($tablet) {
		width: 210px;
		border-radius: 30px;
	}

	&:nth-child(1) {
		transform: translate(100px, 80px);
	}

	&:nth-child(2) {
		z-index: 0;
	}
}

.dashboard-examples {
	position: relative;
}

.dashboard-example {
	width: 80%;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
}

.dashboard-example-zoomed {
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
	border-radius: 7px;
	position: absolute;
	top: 20%;
	left: 0;
	display: none;
	width: 100%;
	transform: translateX(10%);
}

.supported-platforms {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    align-items: stretch;

	.supported-platform {
		margin: 0.375rem 0;
		display: flex;
		justify-content: center;

		&:nth-child(3) {
			transform: translateX(50px);
		}
	}

	img {
		background: #FFFFFF;
		box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
		border-radius: 9px;
		padding: 1rem 2.5rem;
		margin: 0 0.75rem;
		max-width: 40%;
	}
}

.supported-shops {
	.columns {
		margin: 0;
	}

	img {
		background: #FFFFFF;
		box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
		border-radius: 9px;
		padding: 1rem 2.5rem;
		margin: 0 0.75rem;
	}
}

section {
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.container:first-child {
		padding-top: 100px;
	}

	.container:last-child {
		padding-bottom: 100px;
	}
}

.content-section {
	position: relative;
	background-color: #fff;

	&::before {
		content: '';
		position: absolute;
		background: #fff;
		top: 0;
		left: 0;
		width: 100%;
		height:  200px;
		transform: skewY(-5deg);
		border-top: 1px solid rgba($primary, 0.2);
	}
}

.messenger-bubbles {
    position: relative;
    transform: translateY(130px);
    z-index: 3;
    margin-top: -130px;

    @include until($tablet) {
    	transform: translateY(160px);
    	text-align: center;

    	img {
    		width: 300px;
    	}
	}
}

.messenger-bubble {
	border-radius: 50%;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 10;
}

.messenger-bubble:nth-child(1) {
	bottom: 0;
	left: 0;
	height: 100px;
	width: 100px;
}

.messenger-bubble:nth-child(2) {
	bottom: 30px;
	right: 50px;
	height: 80px;
	width: 80px;
}

.messenger-bubble:nth-child(3) {
	top: 0;
	right: 0;
	height: 100px;
	width: 100px;
	padding: 25px;
}

.messenger-bubble:nth-child(4) {
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
}

.pricing-plan {
	background: #FFFFFF;
	border: 1px solid rgba(34, 61, 101, 0.1);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	text-align: center;
	color: $secondary;
}

.plan-header {
	text-transform: uppercase;
	font-size: 1.125rem;
	padding: 2rem;
	color: $secondary;
	font-weight: 500;
}

.plan-price {
	background-color: rgba($secondary, 0.03);
	border-bottom: 1px solid rgba($secondary, 0.07);
}

.plan-price-amount {
	font-size: 4rem;
}

.plan-price-currency {
	font-size: 1rem;
	vertical-align: super;
	transform: translateY(1rem);
}

.plan-items {
	padding: 3rem 0;
}

.plan-item {
	padding: 0.75rem 2rem;
	text-align: left;
}
m
.plan-button {
	font-size: 1rem;
	padding: 1.5rem 0;
}

.plan-footer {
	margin-bottom: 2rem;
	padding: 0 4rem;
}

.screenshot-mobile {
	img {
		max-width: 300px !important;
		box-shadow: 0 0 24px 0 rgba(0,0,0,0.30), inset 0 -4px 8px 0 rgba(0, 0, 0, 0.08);
		border-radius: 44.1px 44.1px 0 0;
		height: 400px;
		overflow: hidden;
		object-fit: cover;
		object-position: top;
		clip-path: inset(-30px -30px 0px -30px);
	}
}

.screenshot-rectangular {
	img {
		max-width: 100%;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	    object-fit: cover;
    	object-position: left;
	}

	.zoomed-in {
		position: absolute;
		width: 420px;
		height: 120px;
		overflow: hidden;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
		transform: translate(-5rem, 7rem);
		border-radius: 7px;
		
		img {
			transform: scale(1.3);
			margin-top: -40px;
			width: 100%;
		}
	}
}

.screenshot-circular {
	img {
		max-width: 100%;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	    object-fit: cover;
    	object-position: left;
	}

	.zoomed-in {
		position: absolute;
		border-radius: 50%;
		width: 220px;
		height: 220px;
		overflow: hidden;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
		transform: translate(-5rem, 3rem);
		
		@include until($tablet) {
			transform: translate(0rem, 3rem);	
		}
		
		img {
			transform: scale(2);
			width: 100%;
		    margin-left: 90px;
    		margin-top: 20px;
		}
	}
}

.instructions {
	.column:not(:first-child) {
		@include until($tablet) {
			margin-top: 50px;
		}
	}
}

.instructions__content {
	margin-left: 7rem;
	margin-top: 2rem;

	img {
		width: 80%;
	}

	@include mobile {
		margin-left: 0;
	}
}

.cta--right {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@include until($tablet) {
		justify-content: center;
	}
}

.steps {
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	color: $secondary;
	display: inline-block;
	text-align: left;
	width: 100%;
}

.steps__number {
	display: block;
	font-size: 4rem;
	font-family: "Open Sans", sans-serif;
	color: $primary;
	font-weight: 600;
	border-right: 6px solid $primary;
	padding: 0 1rem;
	width: 1.25em;
	line-height: 1em;
	float: left;
	margin-right: 0.5em;
}

.steps__headline {
	display: inline-block;
	max-width: 50%;
}

.footer {
	color: rgba(#fff, 0.5);

	a {
		color: rgba(#fff, 0.5);
	}
}

.social-icons {
	margin: 2rem 0;
}

.social-icon {
	opacity: 0.5;
	margin-right: 0.425rem;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}